<div class="d-flex justify-content-center align-items-center min-vh-100">
  <form
    [formGroup]="form"
    class="w-50 p-4 bg-white border rounded mt-5"
    (ngSubmit)="register()"
  >
    <h1 class="h3 mb-3 fw-normal">Registracija</h1>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInputUsername"
        placeholder="Korisnicko ime"
        formControlName="username"
      />
      <label for="floatingInputUsername">Korisnicko ime</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInputName"
        placeholder="Ime"
        formControlName="firstName"
      />
      <label for="floatingInputName">Ime</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInputLastName"
        placeholder="Prezime"
        formControlName="lastName"
      />
      <label for="floatingInputLastName">Prezime</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInputEmail"
        placeholder="email@primer.com"
        formControlName="email"
      />
      <label for="floatingInputEmail">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Sifra"
        formControlName="password"
      />
      <label for="floatingPassword">Sifra</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword2"
        placeholder="Ponovite sifru"
        formControlName="password2"
      />
      <label for="floatingPassword2">Ponovite sifru</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="date"
        class="form-control"
        id="floatingInputDate"
        placeholder="Datum rodjenja"
        formControlName="dateOfBirth"
      />
      <label for="floatingInputPhoto">Datum rodjenja</label>
    </div>

    <div class="form-floating mb-3">
      <input
        (change)="handleFileChange($event)"
        type="file"
        class="form-control"
        id="floatingInputPhoto"
        placeholder="Izaberite sliku"
        formControlName="photo"
      />
      <label for="floatingInputPhoto">Izaberite sliku</label>
    </div>

    <div class="d-flex justify-content-center align-items-center my-3">
      <button
        [disabled]="form.invalid"
        class="btn w-60 py-2"
        type="submit"
        style="background-color: #5844a0; color: #fff"
      >
        Sign up
      </button>
    </div>

    <!-- <div *ngIf="form.errors?.['passwordsNotMatching']" class="text-danger">
      Sifre se ne poklapaju
    </div> -->
  </form>
</div>
