<div class="main">
  <div class="cards">
    <ng-container *ngIf="isLoading$ | async; else artPiecesTemplate">
      <div>Loading...</div>
    </ng-container>
    <ng-template #artPiecesTemplate>
      <article class="card" *ngFor="let artPiece of artPieces$ | async">
        <img
          class="card__background"
          [src]="artPiece.photo"
          [alt]="artPiece.description"
        />
        <div class="card__content | flow" style="width: 100%">
          <div class="card__content--container | flow">
            <figure class="fir-image-figure">
              <img
                class="fir-author-image fir-clickcircle"
                src="{{ artPiece.user.photo }}"
                alt="{{ artPiece.user.photo }}"
                routerLink="profile-page/{{ artPiece.user.id }}"
              />
              <figcaption>
                <a
                  class="fig-author-figure-title"
                  style="color: white"
                  routerLink="profile-page/{{ artPiece.user.id }}"
                >
                  {{ artPiece.user.firstName }} {{ artPiece.user.lastName }} ({{
                    artPiece.user.username
                  }})
                </a>
              </figcaption>
            </figure>
          </div>
          <button
            class="card__button"
            [routerLink]="['/single-art-piece', artPiece.id]"
          >
            Read more
          </button>
        </div>
      </article>
    </ng-template>
  </div>
</div>
