<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid d-flex align-items-center justify-content-between"
  >
    <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
      <i class="bi bi-camera"></i>
      <h1>PhotoFolio</h1>
    </a>
    <ng-container *ngIf="currentRoute === '/' && authService.isLoggedIn()">
      <app-searchbar style="height: fit-content"></app-searchbar>
    </ng-container>
    <nav id="navbar" class="navbar">
      <ng-container *ngIf="!(isLoggedIn$ | async)" style="margin-right: 10px">
        <ul>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
        </ul>
      </ng-container>
      <ng-container *ngIf="isLoggedIn$ | async">
        <ul>
          <li><a routerLink="/">Umetnicka dela</a></li>
          <li><a routerLink="/challenges">Izazovi</a></li>
          <li><a [routerLink]="'/profile-page/' + userId">Profil</a></li>
          <li><a routerLink="/login" (click)="logout()">Logout</a></li>
        </ul>
      </ng-container>
    </nav>
    <i
      class="mobile-nav-toggle mobile-nav-show bi bi-list"
      (click)="toggleDropdown()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        viewBox="0 0 512 512"
      >
        <style>
          svg {
            fill: #5844a0;
          }
        </style>
        <path
          d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"
        /></svg
    ></i>
  </div>
  <app-mobile-nav [isDropdownVisible]="isDropdownVisible"></app-mobile-nav>
</header>
