<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid d-flex align-items-center justify-content-between"
  >
    <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
      <i class="bi bi-camera"></i>
      <h1>PhotoFolio</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ng-container *ngIf="!(isLoggedIn$ | async)" style="margin-right: 10px">
        <ul>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
        </ul>
      </ng-container>
      <ng-container *ngIf="isLoggedIn$ | async">
        <ul>
          <li><a (click)="logout()" routerLink="/login">Logout</a></li>
        </ul>
      </ng-container>
    </nav>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
